---
title: "Hi There!"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
  actions:
    - label: "More"
      url: "https://janelu01.github.io/portfolio/about/"
excerpt: "I'm a research and policy analyst with extensive experience in user-centered design, communications, research, writing, and content creation. Here's an overview of my projects."
feature_row:
  - image_path: /assets/images/sheinnovates-1024x1024-1.jpg
    alt: "Image of SheInnovates logo"
    title: "Published Media"
    excerpt: '* Writer for [Digitalist Magazine](http://digitalistmag.com/author/janelu/)
              * Medium blogpost for Ontario Digital Service (ODS): [Save the Data: International Open Data Day](https://medium.com/ontariodigital/save-the-data-international-open-data-day-9150c19da489)
              * Insights content writer and editor for [Jerry](https://getjerry.com/advice/author/jane-lu2)'
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned `type="left"`'
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row" type="left" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="left" %}

{% include feature_row id="feature_row4" type="left" %}
---
