---
title: "Hi There!"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
  actions:
    - label: "More"
      url: "https://janelu01.github.io/portfolio/about/"
excerpt: "I'm a research and policy analyst with extensive experience in user-centered design, communications, research, writing, and content creation. Here's an overview of my projects."
feature_row:
  - image_path: /assets/images/sheinnovates-1024x1024-1.jpg
    alt: "Image of SheInnovates logo"
    title: "Published Media"
    excerpt: '* Writer for [Digitalist Magazine](http://digitalistmag.com/author/janelu/)   * Medium blogpost for Ontario Digital Service (ODS): [Save the Data: International Open Data Day](https://medium.com/ontariodigital/save-the-data-international-open-data-day-9150c19da489)   * Insights content writer and editor for [Jerry](https://getjerry.com/advice/author/jane-lu2)'
feature_row2:
  - image_path: /assets/images/pens-unsplash.jpg
    alt: "Pens on top of a notebook"
    title: "Technical Writing"
    excerpt: 'I worked on a plain language description of file types so that data on the [Ontario Open Data Catalogue](https://data.ontario.ca/en/about#training-materials) are more accessible to the public. I have also written internal guide documents for catalogue contributors and one-pagers describing Windows 10 features.'
feature_row3:
  - image_path: /assets/images/ux-indonesia-w00fke6e8ze-unsplash.jpg
    alt: "People gathered around a table with sticky notes on documents"
    title: "User Research"
    excerpt: 'I have created user testing scripts and conducted dozens of user interviews to inform evidence-based changes to the [Ontario Data Catalogue](https://data.ontario.ca/en/about#training-materials). This includes changes to the homepage and licence presentation.'
feature_row4:
  - image_path: /assets/images/ods.jpg
    alt: "Digital drawing of employees in the Ontario Digital Service"
    title: "Graphic Design"
    excerpt: 'During my time at RBC, I created graphics collateral, videos, newsletters, and other content to promote the Windows 10 upgrade.
* Biteable: [Office 2013 Teaser](https://biteable.com/watch/office-2013-teaser-2046108/f2cf3204b8578c8110f82158145495876e0179d2)
* [Windows 10 e-Newsletter](https://janeluwrites.files.wordpress.com/2021/06/win10-enewsletter-dec-13-2018-v4.pdf)

Other Samples:
* [Described Video Script](https://janeluwrites.files.wordpress.com/2021/06/windows-10-teaser-video-english-script-a.pdf)   * [Paint Tool Sai Guide](https://janeluwrites.files.wordpress.com/2021/06/f81fec_d596f1871ce142fabd401aef8b8cbb7a.pdf)'
last:
  - title: "Work History"
    excerpt: '**RESEARCH AND POLICY ANALYST, ESDC | Present**   * Building and providing guidance to product teams on data patterns (reusable components and templates for key interactions like agreeing to terms and conditions, authentication, etc.)   * Researching and implementing best practices for obtaining consent for disclosure, collection, and use of information within services

   **CONTENT WRITER, JERRY**
* Wrote and edited engaging content for readers based on current trends in the auto industry   * Uploaded content using internal content management system (CMS) with markdown

   **POLICY AND RESEARCH ASSISTANT, ONTARIO DIGITAL SERVICE**
* Facilitated user interviews to support a user-centric catalogue homepage redesign   * Tested plain language file format definitions to ensure data is accessible  * Wrote a blog article for International Open Data Day to promote community engagement with open data initiatives

   **COMMUNICATIONS ANALYST, ROYAL BANK OF CANADA (RBC)**
* Created documentation for RBC’s communications platform   * Produced bi-weekly newsletters, graphics and videos

   **WRITER AND MARKETING INTERN, SAP**
* Managed team’s asset-sharing platform (JAM), improving ease-of-access to Thought Leadership content   * Published blogposts on Digitalist Magazine for the SHE Innovates podcasts'
---
{% include feature_row id="feature_row" type="left" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="left" %}

{% include feature_row id="feature_row4" type="left" %}

{% include feature_row id="last" type="right" %}
